<!-- app/views/projetos/show.html.erb -->
<p id="notice"><%= notice %></p>

<div class="ms-4">
  <!-- Nome do projeto -->
  <h3>
    <strong>Nome:</strong>
    <%= @projeto.nome %>
  </h3>

  <!-- Lista de Pessoas associadas -->
  <h5>Pessoas Participantes:</h5>
  <% if @projeto.pessoas.any? %>
    <ul>
      <% @projeto.pessoas.each do |pessoa| %>
        <li>
          <%= link_to "#{pessoa.nome} #{pessoa.sobrenome}", pessoa_path(pessoa) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><em>Este projeto ainda não possui participantes.</em></p>
  <% end %>

  <!-- Ações -->
  <%= link_to 'Voltar à lista', projetos_path, class: 'btn btn-outline-primary btn-sm' %>
  <%= link_to 'Editar Projeto', edit_projeto_path(@projeto), class: 'btn btn-outline-info btn-sm' if policy(@projeto).update? %>
  <%= button_to 'Excluir Projeto', projeto_path(@projeto),
              method: :delete,
              data: { confirm: 'Tem certeza que deseja excluir este projeto?' },
              class: 'btn btn-outline-danger btn-sm',
              form: { class: 'd-inline' } if policy(@projeto).destroy? %>

</div>

